* {
    box-sizing: border-box;
}

p {
    line-height: 1.8;
}

.logo>h1 {
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: thin solid;
    justify-content: space-around;
    align-items: stretch;
}

.squareFormat {
    padding: 10px;
    border: thin solid;
    width: 25%;
}

.distribution {
    flex: 2 2 50%;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.corgiImage {
    width: 100%;
    height: auto;
}

.downSection {
    display: flex;
    flex-direction: row;
    border: thin solid;
    align-items: stretch;
    flex-wrap: wrap;
}

.downDistribution {
    flex: 3 3 75%;
    display: flex;
    flex-wrap: nowrap;
}

.rainbow {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.rainbowcolors {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 30px;
    color: #666;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.rainbowcolors:nth-child(1) {
    background-color: aliceblue;
}

.rainbowcolors:nth-child(2) {
    background-color: antiquewhite;
}

.rainbowcolors:nth-child(3) {
    background-color: aqua;
}

.rainbowcolors:nth-child(4) {
    background-color: beige;
}

.rainbowcolors:nth-child(5) {
    background-color: cadetblue;
}

.rainbowcolors a {
    text-decoration: none;
    color: #666;
}

.rainbowcolors a:hover {
    text-decoration: underline;
}